<!-- Dolar Wilkinsonpc Ind-Eco-Basico Start -->
<div id="IndEcoBasico" style="background: transparent; overflow: hidden;">
    <font id="check"></font>
</div>
  <script src="https://dolar.wilkinsonpc.com.co/js/ind-eco-basico.js"></script>
  <iframe src="https://dolar.wilkinsonpc.com.co/widgets/gratis/indicadores-economicos-min.html?ancho=500&amp;alto=250&amp;fondo=transparent&amp;fsize=20&amp;ffamily=arial&amp;fcolor=000000&amp;custom=" id="IEDolar" style="width:500px;height:250px;" title="Tasa representativa del mercado" align="top" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" allowtransparency="true"></iframe>
<!-- Dolar Wilkinsonpc Ind-Eco-Basico End -->